/*  */
/* 전환되는 이미지들에 대한 css설정 */
/*  */
/* ================================================================================================== */
/* #map-defined의 .slide-img의 클라스의 설정 */
#map-defined .slide-img{

  position:absolute;
  top: 0; left: 0;
  width:100%;
  height:100%;
  z-index: -5;
  /* 전환 될 이미지들의 절대위치를 설정해 주기위해 position을 absolute로 한다.
  z-index를 -5로 설정하여 #map-defined 의 (0,0)의 맨 뒤에 위치하게 한다.
  크기는 map-defined의 크기에 꽉 차게 설정한다. */
}
/* ================================================================================================== */
#map-defined .active{

   	z-index: -2;

    /* active 클라스를 갖게 되면 맨 위로 올라오는 이미지이기 때문에 z-index를 -5보다는 크게한다. */
}
/* ================================================================================================== */
