
/* 1page 전체에 대한 css 스타일시트 */

/* =============================================================================================== */

/* 1. 초기화 */

*{
  margin: 0; padding: 0;
  font-family: Verdana, Arial, Helvetica, sans-serif
}
/* 모든 요소들에 대해 위와 같이 초기화를 시킨다. */
a{
  text-decoration: none;
  color:black;
  font-weight: 550;
}
a:visited { color: black; text-decoration: none;}


/* 모든 a태그의 text-decoration을 none으로 설정한다. 또한 방문 이후에도 색이 변하지 않게 위와 같이 설정한다.
 */
li { list-style: none;}
/* li 태그들의 list-style을 없앤다. */


span.a {
  font-family: 'Bungee';
  font-size: 70px;
}
h2.b{
  font-family: 'Nanum Pen Script';
  font-size: 30px;
}
span.c {
  font-family: 'Cute Font';
  font-size: 90px;
}
h1.article-title{
  font-family: 'Sunflower';
}
p.para1{
    font-family: 'Sunflower';
}
p.para2{
    font-family: 'Sunflower';
}
h2.d{
  font-family: 'Cute Font';
  font-size: 30px;
  color: #5D5D5D;

}
p.e{
  font-family: 'Chewy';
  font-size: 25px;
  color: #5D5D5D;
}
/* 해당 태그들에 대한 폰트설정 */

/* =============================================================================================== */

/* 2. 기본 클래스 */

.pull-left {
  float: left;
}
/* pull-left class의 float를 left로 설정하여 이 클래스의 모든 요소들이 왼쪽으로 붙게 한다.
예: 내비게이션 메뉴 등*/
.pull-right {
  float: right;
}
/* pull-right class의 float를 right로 설정하여 이 클래스의 모든 요소들이 오른쪽으로 붙게 한다.
예: side bar 등 */
/* 페이지 */

body {
  /* position: absolute; */
  width: 100%;
}

 /* 내용들이 표현되는 body의 width를 설정해준다. 웹브라우저에 꽉 채워서 나타내기 위해서 width를 100%로 설정한다. */

#page-wrapper{
  min-width: 1200px;
  margin: 0 auto;
}

#map-defined{
  position: relative;
  min-width: 1200px;
  z-index: 3000;

}
/* body에서도 모든 내용이 들어가는 box에 대한 설정이며 배경색을 흰색으로 설정한다.
또한 margin을 40px로 설정한다. 모든 방향에 대해서 40px의 margin이 설정되서 wrapper의 width는 880px이다.
패딩을 위아래는 10px, 양 옆으로는 20px로 설정하여 wrapper안의 내용이 간격으로 부터 각각 만큼 떨어진다.
또한 wrapper의 모서리를 둥글게 하고 그림자도 설정하여 준다.*/

/* =============================================================================================== */

/* 3. 헤더 */
.a{

  font-size: 60px;
  color: orange;
  color: rgba(250,250,250,1);
  text-shadow:  2px 2px 2px rgba(0,0,0,0.8);
}
.c{

  font-size: 60px;
  color: orange;
  color: rgba(250,250,250,1);
  text-shadow:  2px 2px 2px rgba(0,0,0,0.8);
}
.b{
  margin-top: 20px;
  font-size: 15px; font-weight: 500;
  color: #383838;
}
/* 헤더에 포함되어 있는 클라스들에 대한 글꼴 설정을 각각 해준다. */

#main-header {
  text-align: center;
  padding: 40px 0px 10px 0;
  z-index: 10;
}
/* 메인 헤더 박스의 패딩과 슬라이드 이미지 보다 위에 나타내기 위해 z-index를 높게 설정해준다. 또한 가운데 정렬을 시켜준다.*/

.master-title{
  font-size: 30px;
  color: orange;
  color: rgba(250,250,250,1);
  text-shadow:  2px 2px 2px rgba(0,0,0,0.8);
  margin : -50px auto;
}
/* 가장 큰 제목의 폰트 크기와 색을 설정한다. */
.master-description{
  margin-top: 20px;
  font-size: 15px; font-weight: 500;
  color: #383838;
}
/* 그 아래의 작은 제목의 설정을 위와 같이 해준다. */

/* =============================================================================================== */

/* 4. 내비게이션 */

#main-navigation{
  border-bottom: 3px solid orange;
  margin: 20px auto;
  width: 980px;
  height: 70px;
  background: white;
  z-index: 50;
  text-align: center;
}

/* 내비게이션 메뉴가 들어갈 box에 대한 설정을 해준다. border를 아래 3px씩만 해주어 아래로 선이 그어지게 해준다.
또한 아래쪽 margin을 설정해주어서 본문의 제목과 20px이 떨어지게 된다. 또한 높이는 70px로 해주어 총 height는 73px이 된다.
*/

.outer-menu-item{
  display: inline-block;
  position: relative;
}
/* 보여지는 내비게이션 메뉴들(동부,서부...)에 대해 내비게이션 메뉴에서 한줄로 붙게 끔 inline-block으로 설정해준다. */

.menu-title{
  display: block;
  height: 70px; line-height: 70px;
  text-align: center;
  padding: 0px 20px ;
  font-weight: 500;
  text-shadow:  1px 1px 1px rgba(150,150,150,0.8);
}
/* span 태그는 inline이기 때문에 block으로 설정하여 height를 설정할 수 있게 해준다.
또한 height를 70px로 해주고 위 아래의 padding은 0px로 하여 main-navigation과 같은 높이를 만들어준다.
그리고 안의 내용을 가운데 정렬 해준다. */

.menu-title:hover{
  border-top: 4px solid orange;
  line-height: 62px;
  height: 66px;
}
/* menu-title에 마우스를 올릴 경우 위의 border라인이 4px로 나타나게 끔 설정 해준다. 여기서 height를 66px로 설정해주지 않으면 74px이 되기 때문에 위와 같이 설정한다. */

.inner-menu{
  display: none;
  position: relative;
  overflow: auto;
  top: 3px; left: 60px;
  width: 860px;
  height: 600px;
  padding: 20px 0;
  background: white;
  box-shadow: 0 2px 6px rgba(5,5,5,0.9);
  z-index: 1000;
  text-align: center;
}
/* inner 메뉴, 즉 마우스를 올려놓으면 폴다운 되는 메뉴들에 대한 설정이다.
마우스를 올려두면 나타나게 설정하기 위하여 display를 none으로 하여 일단 그렇지 않을 때는 보이지 않게 한다.
또한 position을 relative로 설정하여서 내비게이션메뉴의 가운데 정렬로 폴다운 되게 해준다.
 width를 860px로 하여 내비게이션 메뉴에서 가운데 정렬이 되게 해주고 z-index를 1000으로 하여 폴다운 되었을 때 가장 위로 올라오게 해준다..*/

.category{
  padding-left:100px;
}

/* 카테고리가 모여있는 div의 왼쪽 패딩을 100px로 설정한다. 즉 카테고리들이 왼쪽으로 붙어있는 것을 오른쪽으로 간격을 띄운다. */
/* =============================================================================================== */
/* 내비게이션 내부의 검색 */

.search-bar{
  height: 26px;
  padding: 22px;
}

.input-search{

  display: block;
  float: left;
  background-color: #FFFFFF;
  border: 1px solid #CCCCCC;
  box-shadow: inset 0 1px 1px rgba(0,0,0,0.05);
  width: 120px; height: 26px;
  padding: 0 0 0 10px;
  font-size: 12px;
  color: #555555;

}

/* input 태그의 width를 설정해주기 위해서 block형식으로 바꿔주고 텍스트를 입력받는 곳이 왼쪽으로 붙게 설정해준다.
   또한 배경색, 왼쪽의 위,아래 모서리를 둥글게 해주고 box의 그림자를 설정해준다. 총 height는 border 2px을 더해서 26px이 된다.*/

.input-search:focus{
  border-color: rgba(82, 168, 236, 0.8);
  outline: 0;
  box-shadow: inset 0 1px 1px rgba(0,0,0,0.05);
}
/* 검색창이 포커스 되었을 경우는 위와 같이 설정해준다. */

.search-image{
  display: block;
  float: left;
  width: 20px;
  height: 20px;
  border : 4px solid orange;
}
/*  검색창의 총 높이가 28px이기 때문에 옆에 붙는 돋보기 이미지의 높이도 동일하게 설정한다. */

.input-search-image{
  width: 20px;
}
/* 위의 div안에 들어갈 이미지의 크기를 동일하게 설정해준다. */

/* =============================================================================================== */
/* 중앙내용 */

#content {
  overflow: hidden;
  z-index: 30;
}
/*
#main-section {

  min-width: 70%;
} */

.para1{
  width:600px;
  margin:10px auto;
  color:white;
  text-shadow:  1px 1px 1px rgba(150,150,150,0.8);
}
/* '제주도의 꿈같은~~'의 내용이 들어가는 태그이고 위와 같이 설장해준다.  */
.para2{
  width:550px;
  margin:10px auto;
  color:white;
  text-shadow:  1px 1px 1px rgba(150,150,150,0.8);
}
/* 그 밑의 해시태그들이 들어가는 태그이고 위와 같이 설장해준다.  */

.map{
  position: relative;
  width: 834px;
  height: 417px;
  margin: 0px auto;
}
/* 제주도의 지도 이미지가 들어가는 공간이고 실제 이미지파일과 동일하게 크기를 설정해준다. */

article{

  border-bottom: 1px solid #C8C8C8;

}

.article-header{
  padding: 50px 50px;
  text-align: center;
  margin:-30px 0;
}
/* 지도 위의 문구들이 입력될 태그 */

.article-title{
  font-size: 30px;
  font-weight: 700;
  padding-bottom: 10px;
  color: rgba(250,250,250,1);
  text-shadow:  2px 2px 2px rgba(0,0,0,0.8);
}/* '여행하고 싶은 구역을 골라보세요'의 내용이 들어가는 태그를 위와 같이 설정해준다. */

.article-body{
  font-size: 14px;
  text-align: center;
}

/*  boys and girls */
.boys-and-girls
{
  display: inline-block;
  width:30px;
  height: 30px;
  margin : 0 10px;
}
/* =============================================================================================== */
/* 풋터 */

#main-footer{
  min-width: 1200px;
  border-top: 2px solid orange;
  margin: 20px;
  padding-top: 30px;
  text-align: center;
}
/* 풋터도 마찬가지로 min-width를 1200px로 설정해준다.
*/
#footer-images{
  margin:10px 0;
}
/* 풋터 이미지들의 간격을 설정한다. */
.footer-image{
  margin: 0px 10px;
  width: 200px;
  height: 50px;
  display: inline-block;
  background-repeat: no-repeat;
  background-size: 100%;
}
/* 풋터 이미지에는 참고 사이트들의 베너이미지가 배경이미지로 설정 될 것이기 때문에 위와 같이 설정해준다. */
.footer-image:nth-child(1){
  background-image: url('jeju_special.png');

}
.footer-image:nth-child(2){
  background-image: url('jeju_tourism.png');

}
.footer-image:nth-child(3){
  background-image: url('jeju_association.jpg');

}
.footer-image:nth-child(4){
  background-image: url('jeju_acc.jpg');

}
.footer-image:nth-child(5){
  background-image: url('jeju_visit.png');

}
/* 각각 이미지들을 설정해준다. */
.jeju-sns{
  width:300px;
  margin:0 auto;
  padding:10px;
}
/* 그 밑의 각종 sns에 대한 이미지들이 들어가는 div의 크기를 다음과 같이 설정한다. */
/* =============================================================================================== */

/* contact section */

.row{
  margin: 20px;
  min-width: 1200px;
}
/* '제주여행 무엇이든 물어보세요'와 깨알상식, 메일 form이 들어가는 row class의 width를 마찬가지로 1200px로 설정한다.*/

.heading-section{
  text-align: center;
  margin-bottom: 40px;
  padding: 30px 0;
  border-bottom: 2px solid orange;
  min-width: 1200px;
}
/* contact공간에서 제목에 해당하는 태그에 대한 설정을 위와 같이 해준다. 밑의 broder에 색을 줘서 밑의 태그와 구분되게 해준다. */

.container{
  text-align: center;
  margin: auto;
  min-width: 1200px;
}
/* 두 태그 (깨알상식과 이메일 form)을 포함하는 container에 대한 설정을 위와 같이 해준다. */

.col-md-7 {
  display: inline-block;
  width: 400px;
  margin: 20px;
}

.col-md-5{
  display: inline-block;
  width: 400px;
  margin: 20px;
}
/* 각각의 영역을 400px로 넓이를 설정해준다. 또한 div태그를 inline으로 설정해서  */

#Name, #email, #subject{

  width: 350px;
  margin-bottom: 15px;
  padding: 10px;
}

#submit{
  width: 370px;
  margin-bottom: 15px;
  padding: 10px;
  background: orange;
  border: 1px solid orange;
  color: white;

}

#comments{
  width: 350px;
  margin-bottom: 15px;
  padding: 10px;
  height: 400px;

}
/* form태그의 각각에 대해 크기, 넓이, 높이, 색 설정 */
/* ============================================================================================== */

/* inner menu  table*/

#user-table {
  margin: 0 auto; text-align: center;
}

#input-form {
  margin-top: 10px; margin-bottom: 10px;
}
#user-table {
  border-collapse: collapse;
}
#user-table > thead > tr {
  background-color: orange; color:#fff;
}
#user-table > thead > tr > th {
  padding: 8px; width: 150px;
 }

#user-table > tbody > tr > td {
  border-bottom: 1px solid gray; padding:8px;
}
